.header {
  padding: 2em 0;
}

.header-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin: 0;
  user-select: none;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.react {
  position: relative;
  z-index: 999;
  color: var(--clr-accent);
  -webkit-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
  -webkit-transform-box: fill-box;
  transform-box: fill-box;
  -webkit-transform-origin: center;
  transform-origin: center;
  transition: color 0.3s;
}

.react:hover,
.react:focus {
  color: var(--clr-light);
}

.mobile-bg {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: transparent;
}

.mobile-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: var(--clr-dark);
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--clr-accent);
  border-right: none;
}

.mobile-nav-title {
  line-height: 1;
}

.mobile-nav-title span {
  color: var(--clr-accent);
}

.mobile-nav-link {
  color: var(--clr-accent);
  text-decoration: underline;
}

.mobile-nav-signature {
  font-style: italic;
}
